* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** Generics */
body {
    background-color: #f5f4f2;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

h1 {
    line-height: 100px;
    vertical-align: middle;
    text-align: center;

    font-family: 'Nerko One', cursive;
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 2px;

    color: #ff9614;
    text-shadow: 1px 1px gray;
}

h2 {
    font-size: 2rem;
    color: #4e3969;
    font-weight: 800;
}

/** Utility */

.container {
    max-width: 576px;
}

.padding-main {
    padding: 30px 20px
}

.flex {
    display: flex;
}

.yellow-text {
    color: #f7972e;
}

.uppercase-text {
    text-transform: uppercase;
}

/** HEADER */

header {
    background-color: white;
    height: 100px;
}

/** MAIN */

/*? Sezione Titolo e categoria*/

.category {
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-weight: 300;
    color: gray;

    margin-bottom: 10px;
}

.flex.title {
    justify-content: space-between;
    align-items: center;
}

.no-mobile-text {
    display: none;
}

.rating {
    font-size: 1.2rem;
}

.rate {
    display: inline-block;

    background-color: #f7972e;
    padding: 10px 15px;
    border-radius: 20px;

    color: white;
    font-weight: 700;
}

/*? Sezione Video*/

.video-container {
    margin-top: 20px;
}
